@CHARSET "utf-8";

span.we-date {
	font-size: 10px;
	color: silver
}
span.we-h2 {
	font-size: 12px;
	color: gray
}

span.we-new {
	text-decoration : underline;
}

span.we-deleted {
	text-decoration : line-through;
	color: silver
}

.x-indexbar > div {
	text-align: left;
}